$breakpoint-up: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

.blogPost {
  @include mq-up(md) {
    display: flex;
  }

  img {
    @include mq-up(md) {
      width: 300px;
      height: 159px;
      margin-right: 10px;
    }

    @include mq-down(md) {
      width: 100%;
      height: auto;
    }
  }

  div {
    @include mq-down(md) {
      display: none;
    }
  }
}

.tag {
  padding: 2px 5px;
  background-color: lightblue;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.tag:hover {
  background-color: lightskyblue;
}
